<mat-form-field>
  <mat-select placeholder="Select a metric" [(ngModel)]="inputObj.selectedMetric" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let metric of metricsArray" [value]="metric.value">
      {{metric.key}}
    </mat-option>
  </mat-select>
  <!-- <mat-error *ngIf="metricControl.hasError('required')">Please choose a metric</mat-error> -->
</mat-form-field>

<mat-form-field>
  <mat-select placeholder="Selct a location" [(ngModel)]="inputObj.selectedLocation" required>
    <mat-option>--</mat-option>
    <mat-option *ngFor="let location of locationsArray" [value]="location.value">
      {{location.key}}
    </mat-option>
  </mat-select>
  <!-- <mat-error *ngIf="locationControl.hasError('required')">Please choose a location</mat-error> -->
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput [matDatepicker]="fromDatePicker" placeholder="Choose a from date" [(ngModel)]="inputObj.fromDate">
  <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #fromDatePicker></mat-datepicker>
</mat-form-field>

<mat-form-field class="example-full-width">
  <input matInput [matDatepicker]="toDatePicker" placeholder="Choose a to date" [(ngModel)]="inputObj.toDate">
  <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
  <mat-datepicker #toDatePicker></mat-datepicker>
</mat-form-field>

<button mat-raised-button color="primary" (click)="onSubmit()">Submit</button>

<div class="example-button-row">
  <app-weather-chart [chartData]="chartData" [metric]="chartMetric"></app-weather-chart>
</div>